<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
			</array>
		</dict>
		<key>FixHeaders</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<true/>
		</dict>
		<key>PatchVBios</key>
		<true/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Stride patch 10.6 x86</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>D4VH/v//ZrgAIA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.6.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>kJCQkJCQZrgAIA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Stride patch 10.6 x64</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>D4V1/v//6Wv+//8=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.6.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>kJCQkJCQ6Wv+//8=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Stride patch 10.7 x86</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>D0XIiYw+</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.7.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>kJCQiYw+</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Stride patch 10.7+ x64</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>D0XIQomM</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.7.x,10.8.x,10.9.x,10.10.x,10.11.x,10.12.x,10.13.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>kJCQQomM</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Single link patch 1 10.6 x86</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>xwMBAAAAx0MgAAAAAA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.6.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>xwMAAAAAx0MgAAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Single link patch 1 10.6 x64</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>xwIBAAAAx0IgAAAAAA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.6.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>xwIAAAAAx0IgAAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Single link patch 1 10.7 x86</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>xwYBAAAAx0YgAAAAAA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.7.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>xwYAAAAAx0YgAAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Single link patch 1 10.7-10.9 x64</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>xwMBAAAAx0MgAAAAAA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.7.x, 10.8.x, 10.9.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>xwMAAAAAx0MgAAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Single link patch 1 10.10</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SccHAQAAAEHHRyAAAAAA</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.10.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>SccHAAAAAEHHRyAAAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Single link patch 1 10.11-10.13</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SMcDAQAAAEi4CgAAANAHAAA=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.11.x,10.12.x,10.13.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>SMcDAAAAAEi4CgAAANAHAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Single link patch 2 10.6 x86</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>uwAAAAk=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.6.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>uwAAAAg=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Single link patch 2 10.6 x64</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>vgAAAAk=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.6.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>vgAAAAg=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Single link patch 2 10.7 x64</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>uAAAAAk=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.7.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>uAAAAAg=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Single link patch 2 10.7 x86 and 10.8</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>uQAAAAk=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.7.x,10.8.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>uQAAAAg=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Single link patch 2 10.9</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>QbkAYAAJ</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.9.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>QbkAYAAI</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Single link patch 2 10.10-10.12</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>uABgAAk=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.10.x,10.11.x,10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>uABgAAg=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Single link patch 2 10.13</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>ugBgAAk=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>ugBgAAg=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Single link patch 3</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>PAMwgA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>AAMwgA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 1 patch 10.6 x86</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>i4c4BQAAD7ZAGMHgEwtGbIlGbItXWImCDAAPAIuHOAUAAA+2QBjB4BMLRmg=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.6.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>i0ZsJf//x/8NAAAAAJCQkIlGbItXWImCDAAPAItGaCX//8f/DQAAAACQkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 2 patch 10.6 x86</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>i4c4BQAAD7ZAGMHgEwtGbIlGbItXWImCDAAPAIuHOAUAAA+2QBjB4BMLRmg=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.6.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>i0ZsJf//x/8NAAAIAJCQkIlGbItXWImCDAAPAItGaCX//8f/DQAACACQkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 3 patch 10.6 x86</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>i4c4BQAAD7ZAGMHgEwtGbIlGbItXWImCDAAPAIuHOAUAAA+2QBjB4BMLRmg=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.6.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>i0ZsJf//x/8NAAAQAJCQkIlGbItXWImCDAAPAItGaCX//8f/DQAAEACQkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 4 patch 10.6 x86</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>i4c4BQAAD7ZAGMHgEwtGbIlGbItXWImCDAAPAIuHOAUAAA+2QBjB4BMLRmg=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.6.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>i0ZsJf//x/8NAAAYAJCQkIlGbItXWImCDAAPAItGaCX//8f/DQAAGACQkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 1 patch 10.6 x64</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SYuFmAYAAA+2QBjB4BNBC0QkbEGJRCRsSYuVmAAAAImCDAAPAEmLhZgGAAAPtkAYweATQQtEJGg=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.6.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>QYtEJGwl///H/w0AAAAAkJCQkJCQkJCQSYuVmAAAAImCDAAPAEGLRCRoJf//x/8NAAAAAJCQkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 2 patch 10.6 x64</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>SYuFmAYAAA+2QBjB4BNBC0QkbEGJRCRsSYuVmAAAAImCDAAPAEmLhZgGAAAPtkAYweATQQtEJGg=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.6.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>QYtEJGwl///H/w0AAAgAkJCQkJCQkJCQSYuVmAAAAImCDAAPAEGLRCRoJf//x/8NAAAIAJCQkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 3 patch 10.6 x64</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>SYuFmAYAAA+2QBjB4BNBC0QkbEGJRCRsSYuVmAAAAImCDAAPAEmLhZgGAAAPtkAYweATQQtEJGg=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.6.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>QYtEJGwl///H/w0AABAAkJCQkJCQkJCQSYuVmAAAAImCDAAPAEGLRCRoJf//x/8NAAAQAJCQkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 4 patch 10.6 x64</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>SYuFmAYAAA+2QBjB4BNBC0QkbEGJRCRsSYuVmAAAAImCDAAPAEmLhZgGAAAPtkAYweATQQtEJGg=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.6.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>QYtEJGwl///H/w0AABgAkJCQkJCQkJCQSYuVmAAAAImCDAAPAEGLRCRoJf//x/8NAAAYAJCQkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 1 patch 10.7 x86</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>i4Y4BQAAD7ZAGMHgEwtHbIlHbItOWImBDAAPAIuGOAUAAA+2QBjB4BMLR2g=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.7.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>i0dsJf//x/8NAAAAAJCQkIlHbItOWImBDAAPAItHaCX//8f/DQAAAACQkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 2 patch 10.7 x86</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>i4Y4BQAAD7ZAGMHgEwtHbIlHbItOWImBDAAPAIuGOAUAAA+2QBjB4BMLR2g=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.7.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>i0dsJf//x/8NAAAIAJCQkIlHbItOWImBDAAPAItHaCX//8f/DQAACACQkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 3 patch 10.7 x86</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>i4Y4BQAAD7ZAGMHgEwtHbIlHbItOWImBDAAPAIuGOAUAAA+2QBjB4BMLR2g=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.7.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>i0dsJf//x/8NAAAQAJCQkIlHbItOWImBDAAPAItHaCX//8f/DQAAEACQkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 4 patch 10.7 x86</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>i4Y4BQAAD7ZAGMHgEwtHbIlHbItOWImBDAAPAIuGOAUAAA+2QBjB4BMLR2g=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.7.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>i0dsJf//x/8NAAAYAJCQkIlHbItOWImBDAAPAItHaCX//8f/DQAAGACQkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 1 patch 10.7 x64</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SYuGmAYAAA+2QBjB4BMLQ2yJQ2xJi46YAAAAiYEMAA8ASYuGmAYAAA+2QBjB4BMLQ2g=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.7.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>i0NsJf//x/8NAAAAAJCQkJCJQ2xJi46YAAAAiYEMAA8Ai0NoJf//x/8NAAAAAJCQkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 2 patch 10.7 x64</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>SYuGmAYAAA+2QBjB4BMLQ2yJQ2xJi46YAAAAiYEMAA8ASYuGmAYAAA+2QBjB4BMLQ2g=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.7.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>i0NsJf//x/8NAAAIAJCQkJCJQ2xJi46YAAAAiYEMAA8Ai0NoJf//x/8NAAAIAJCQkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 3 patch 10.7 x64</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>SYuGmAYAAA+2QBjB4BMLQ2yJQ2xJi46YAAAAiYEMAA8ASYuGmAYAAA+2QBjB4BMLQ2g=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.7.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>i0NsJf//x/8NAAAQAJCQkJCJQ2xJi46YAAAAiYEMAA8Ai0NoJf//x/8NAAAQAJCQkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 4 patch 10.7 x64</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>SYuGmAYAAA+2QBjB4BMLQ2yJQ2xJi46YAAAAiYEMAA8ASYuGmAYAAA+2QBjB4BMLQ2g=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.7.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>i0NsJf//x/8NAAAYAJCQkJCJQ2xJi46YAAAAiYEMAA8Ai0NoJf//x/8NAAAYAJCQkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 1 patch 10.8-10.11</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SYuEJJgGAAAPtkAYweATQQtGbEGJRmxJi4wkmAAAAImBDAAPAEmLhCSYBgAAD7ZAGMHgE0ELRmg=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.8.x,10.9.x,10.10.x,10.11.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>QYtGbCX//8f/DQAAAACQkJCQkEGJRmxJi4wkmAAAAImBDAAPAEGLRmgl///H/w0AAAAAkJCQkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 2 patch 10.8-10.11</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>SYuEJJgGAAAPtkAYweATQQtGbEGJRmxJi4wkmAAAAImBDAAPAEmLhCSYBgAAD7ZAGMHgE0ELRmg=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.8.x,10.9.x,10.10.x,10.11.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>QYtGbCX//8f/DQAACACQkJCQkEGJRmxJi4wkmAAAAImBDAAPAEGLRmgl///H/w0AAAgAkJCQkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 3 patch 10.8-10.11</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>SYuEJJgGAAAPtkAYweATQQtGbEGJRmxJi4wkmAAAAImBDAAPAEmLhCSYBgAAD7ZAGMHgE0ELRmg=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.8.x,10.9.x,10.10.x,10.11.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>QYtGbCX//8f/DQAAEACQkJCQkEGJRmxJi4wkmAAAAImBDAAPAEGLRmgl///H/w0AABAAkJCQkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 4 patch 10.8-10.11</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>SYuEJJgGAAAPtkAYweATQQtGbEGJRmxJi4wkmAAAAImBDAAPAEmLhCSYBgAAD7ZAGMHgE0ELRmg=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.8.x,10.9.x,10.10.x,10.11.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>QYtGbCX//8f/DQAAGACQkJCQkEGJRmxJi4wkmAAAAImBDAAPAEGLRmgl///H/w0AABgAkJCQkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 1 patch 10.12-10.13</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>QYlObEmLhCSYAAAAiYgMAA8ASYuMJJgGAAAPtlEYweITQYt2bAnWQYl2bImwDAAPAEELVmg=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x,10.13.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>u///x/+6AAAAACHZCdFBiU5sSYuEJJgAAACJiAwADwBBi05oIdkJ0YnKkJCQSYuMJJgGAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 2 patch 10.12-10.13</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>QYlObEmLhCSYAAAAiYgMAA8ASYuMJJgGAAAPtlEYweITQYt2bAnWQYl2bImwDAAPAEELVmg=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x,10.13.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>u///x/+6AAAIACHZCdFBiU5sSYuEJJgAAACJiAwADwBBi05oIdkJ0YnKkJCQSYuMJJgGAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 3 patch 10.12-10.13</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>QYlObEmLhCSYAAAAiYgMAA8ASYuMJJgGAAAPtlEYweITQYt2bAnWQYl2bImwDAAPAEELVmg=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x,10.13.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>u///x/+6AAAQACHZCdFBiU5sSYuEJJgAAACJiAwADwBBi05oIdkJ0YnKkJCQSYuMJJgGAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Link width 4 patch 10.12-10.13</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>QYlObEmLhCSYAAAAiYgMAA8ASYuMJJgGAAAPtlEYweITQYt2bAnWQYl2bImwDAAPAEELVmg=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x,10.13.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>u///x/+6AAAYACHZCdFBiU5sSYuEJJgAAACJiAwADwBBi05oIdkJ0YnKkJCQSYuMJJgGAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable FBCControl patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>RkJDQ29udHJvbAA=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>WFhYQ29udHJvbAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable FeatureControl patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>RmVhdHVyZUNvbnRyb2wA</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>WFhYdHVyZUNvbnRyb2wA</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x3</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>MacBookPro6,2</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<true/>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
